<!DOCTYPE html>
<html>
<head>
  <title>RunningLog</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link href="https://fonts.googleapis.com/css?family=Bitter|Roboto" rel="stylesheet">
  <script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>


  <%= stylesheet_link_tag 'application', media: 'all' %>

    <%= javascript_include_tag "vendor/modernizr" %>

  <%= csrf_meta_tags %>
</head>
<body>

  <nav class="navigation-bar-top-page">
    <ul class="website-title">
        <h3><a href="/">RunningLog <i class="far fa-calendar-alt" id="calendar-nav-bar"></i></a></h3>
    </ul>

    <section class="devise-sign-in">
      <ul class="sign-in-commands">
        <%- if current_user -%>
          <%= link_to 'Sign Out', destroy_user_session_path, method: :delete %>
        <%- else -%>
          <%= link_to 'Sign Up', new_user_registration_path %>
          <%= link_to 'Sign In', new_user_session_path %>
        <%- end -%>
      </ul>
    </section>
  </nav>

  <%- flash.each do |key, value| -%>
    <div class="flash flash-<%= key %>">
      <%= value %>
    </div>
  <%- end -%>

  <%= yield %>

  <%= javascript_include_tag 'application' %>
  <%= javascript_pack_tag 'application' %>
  <%= yield :extra_footer %>
</body>
</html>
